#main-container {
    width: 500px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    border: 5px solid black;
}

.row {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
}

.row > div {
    flex: 1 1 0px;
}